<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <!--The login must not change state for an undefined or empty string-->
    <% if (typeof userID === "undefined" || userID['email'] === undefined || userID['email'] === "") { %>
      <form class="form-inline" method="POST" action="/login" >
        <input
        class="form-control"
        type="text"
        name="username"
        placeholder="Email"
        />
        <button type="submit" class="btn btn-primary" style="margin-left: 5px; 
        color: black; border-color: black; background-color: #28a745;">Login</button>
      </form>
    <% }  else { %>
      <form class="form-inline" method="POST" action="/logout">
        <label style="font-size: 18px;">Logged in as: <%= userID.email %></label>
        <input name="buttonInput" value="<%= userID.id %>" hidden>
        <button type="submit" 
        class="btn btn-primary" style="margin-left: 5px; 
        color: black; border-color: black; background-color: #28a745;">Logout</button>
      </form>
    <% } %>
  </nav>
</header>